.day,
.remove-item,
button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 1rem;
}

img {
    max-width: 320px;
}

/*.order-tracker div {
  padding: 1rem;
}

dt {
  float: left;
  padding-right: 1rem;
}*/
